

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
font-family: 'Roboto Condensed', sans-serif;
}

.scrolled{
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar{
  height: 110px;

}



.navbar .container{
  margin-top: 3vh;
}

.navbar li a{
font-size: 18px;
font-weight: bold;
font-variant-caps: all-petite-caps;
}
#primary li a{
  color: #ffffff;
}

#primary li a:hover{
  color: #93d8e4;
}
#logo{
  /* background: url('../img/dvergar_logo.png') no-repeat top center;
  z-index: 100; */

}

.header{
  background: url('../img/img1-p1.jpg') no-repeat top center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 80vh;
  position: relative;
  color: #FFF;
  text-align: center;
  /* font-family: RobotoCondensed-Regular; */
  font-variant: petite-caps
}
#text-lead p{
  margin-top: 120px;
  margin-left: 100px

}

.header .overlay{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

}
.header .centered-vh{
  margin-top: 25vh;
}

.header3 img{
  margin-top: 110px;

}
.header .overlay p{


}
.contact-form form{
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 100px;
}
.contact-form form .form-control{
  border-radius: 0;
  border: none;
  box-shadow: none;
  border: 1px solid #ccc;
  width:50%;
  margin: 0 auto 40px;
}

.contact-form form h2{

  color: #333;
  font-size:24px ;
  padding: 10px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-form textarea{
  height: 180px;
}
.contact-form form input[type= 'submit']{
  width: 25%;
  margin-left: 38%;
  padding: 10px;
  font-size: 20px;
  border-radius: 0;
  background-color: #5a99d4;

}
.info{

  margin-top: 3%;
  margin-bottom: 6%;
}
#info p{
  margin-top: 15px;
}
.info .bold{
font-weight: bold;

}
.info .email{
  text-align: left;
  font-size: 18px;
}

.info .address{
  text-align: left;
  font-size: 18px;
}
.info .taxi{
  text-align: left;
  font-size: 18px;
}
/* .header form h2 span{
  color: #ff8b38;
} */
.history{
  background-color: #FFFFFF;
  margin: 100px 220px 50px 320px ;

}
.history p{
  /* padding: inherit; */
  /* line-height: inherit; */
  font-size: 24px;


}
.career p{
  font-size: 20px;
  text-align: left;
  margin: 16%;
}
#history-txt h4{

  text-align: left;
  margin-right: 370px;

}

.video{
  background: #000000;
}
/* start icons */

.icons i{
  color: #000000ba;
  padding: 100px 200px 100px 100px;
  display: inline-flex;

}
.icons i h4{


}

.icons i p{
  width: 150px;
  font-size: 14px;
  color: #5f5f5f;
  margin-left: 25px;
  text-align: left;
}

.Refrence{
  background-color: #313131;
}


#Refrence-txt h3{
  color: #FFFFFF;
  font-style: normal;
  margin-top: 40px;
}

.ref-images{
  /* background: url('../img/bg-01.jpg') no-repeat top center; */
  /* -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 50vh;
  position: relative; */
  /* display: inline-block; */
  margin-top: 40px;
}
#images{
  position: relative;
}
#img-ref img{
  width: 851px;
}

#images p{
  position: absolute;
  top: 61%;
  left: 43%;
  font-size: 39px;
  color: aliceblue;
  font-variant: all-petite-caps;
}

.text2{
  margin-bottom: 110px;
}
footer{
  background-color: #313131;
}
footer p{
  color: #b3b3b3;;
  padding: 60px;
  display: inline-block;
}

.social-section i{

  -webkit-transition-: all .3s ease-in-out;
  -moz-transition-: all .3s ease-in-out;
  -o-transition-: all .3s ease-in-out;
  transition-: all .3s ease-in-out;
  cursor: pointer;
}

.social-section i:hover{



}


#copy-right {
  margin-top: 40px;

}
